<h1>MobileNet Image Classifier</h1>
<p>Select an image to classify:</p>
<input
  type="file"
  id="inputImage"
  accept="image/*"
  (change)="handleFileInput($event)"
/>
<img #preview alt="" id="preview" />
<re-captcha
  #captchaRef="reCaptcha"
  (resolved)="checkCaptcha($event)"
  name="recaptchaReactive"
  ngModel
  siteKey="6LeniYknAAAAAF3qkBYzJpcTFIBEkDXeQIoWSBMR"
>
</re-captcha>
<h2>Predictions:</h2>
<ul id="predictions" #predictions></ul>

<div class="centered">
  <button [disabled]="!captchaResolved" type="submit">Save</button>
</div>
<router-outlet></router-outlet>
